In [1]:
%pip install polars

Collecting polars
  Downloading polars-1.24.0-cp39-abi3-win_amd64.whl.metadata (15 kB)
Downloading polars-1.24.0-cp39-abi3-win_amd64.whl (34.7 MB)
   ---------------------------------------- 0.0/34.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/34.7 MB ? eta -:--:--
   ---------------------------------------- 0.3/34.7 MB ? eta -:--:--
   ---------------------------------------- 0.3/34.7 MB ? eta -:--:--
    --------------------------------------- 0.5/34.7 MB 524.3 kB/s eta 0:01:06
    --------------------------------------- 0.5/34.7 MB 524.3 kB/s eta 0:01:06
    --------------------------------------- 0.8/34.7 MB 558.9 kB/s eta 0:01:01
   - -------------------------------------- 1.3/34.7 MB 919.0 kB/s eta 0:00:37
   -- ------------------------------------- 2.4/34.7 MB 1.5 MB/s eta 0:00:22
   --- ------------------------------------ 3.1/34.7 MB 1.8 MB/s eta 0:00:18
   ---- ----------------------------------- 3.9/34.7 MB 2.1 MB/s eta 0:00:15
   ----- ---------------------------------- 4.7/34.7 MB 2.2 MB/s eta 0:00:14
   ------ --------------------------------- 5.8/34.7 MB 2.4 MB/s eta 0:00:12
   ------- -------------------------------- 6.3/34.7 MB 2.4 MB/s eta 0:00:12
   -------- ------------------------------- 7.1/34.7 MB 2.5 MB/s eta 0:00:12
   --------- ------------------------------ 7.9/34.7 MB 2.6 MB/s eta 0:00:11
   --------- ------------------------------ 8.7/34.7 MB 2.6 MB/s eta 0:00:10
   ---------- ----------------------------- 9.4/34.7 MB 2.7 MB/s eta 0:00:10
   ----------- ---------------------------- 10.0/34.7 MB 2.7 MB/s eta 0:00:10
   ------------ --------------------------- 11.0/34.7 MB 2.8 MB/s eta 0:00:09
   ------------- -------------------------- 11.5/34.7 MB 2.8 MB/s eta 0:00:09
   -------------- ------------------------- 12.6/34.7 MB 2.9 MB/s eta 0:00:08
   --------------- ------------------------ 13.4/34.7 MB 2.9 MB/s eta 0:00:08
   ---------------- ----------------------- 14.2/34.7 MB 3.0 MB/s eta 0:00:07
   ---------------- ----------------------- 14.7/34.7 MB 2.9 MB/s eta 0:00:07
   ----------------- ---------------------- 15.2/34.7 MB 2.9 MB/s eta 0:00:07
   ------------------ --------------------- 16.0/34.7 MB 3.0 MB/s eta 0:00:07
   ------------------- -------------------- 16.8/34.7 MB 3.0 MB/s eta 0:00:06
   ------------------- -------------------- 17.3/34.7 MB 3.0 MB/s eta 0:00:06
   -------------------- ------------------- 18.1/34.7 MB 3.0 MB/s eta 0:00:06
   ---------------------- ----------------- 19.1/34.7 MB 3.1 MB/s eta 0:00:06
   ---------------------- ----------------- 19.9/34.7 MB 3.1 MB/s eta 0:00:05
   ----------------------- ---------------- 20.7/34.7 MB 3.1 MB/s eta 0:00:05
   ------------------------ --------------- 21.5/34.7 MB 3.1 MB/s eta 0:00:05
   ------------------------- -------------- 22.3/34.7 MB 3.1 MB/s eta 0:00:04
   -------------------------- ------------- 23.1/34.7 MB 3.2 MB/s eta 0:00:04
   --------------------------- ------------ 23.9/34.7 MB 3.2 MB/s eta 0:00:04
   ---------------------------- ----------- 24.6/34.7 MB 3.2 MB/s eta 0:00:04
   ----------------------------- ---------- 25.4/34.7 MB 3.2 MB/s eta 0:00:03
   ------------------------------ --------- 26.5/34.7 MB 3.3 MB/s eta 0:00:03
   ------------------------------- -------- 27.5/34.7 MB 3.3 MB/s eta 0:00:03
   -------------------------------- ------- 28.6/34.7 MB 3.3 MB/s eta 0:00:02
   ---------------------------------- ----- 29.6/34.7 MB 3.4 MB/s eta 0:00:02
   ----------------------------------- ---- 30.9/34.7 MB 3.4 MB/s eta 0:00:02
   ------------------------------------ --- 31.7/34.7 MB 3.5 MB/s eta 0:00:01
   ------------------------------------- -- 32.8/34.7 MB 3.5 MB/s eta 0:00:01
   ---------------------------------------  33.8/34.7 MB 3.5 MB/s eta 0:00:01
   ---------------------------------------  34.6/34.7 MB 3.6 MB/s eta 0:00:01
   ---------------------------------------  34.6/34.7 MB 3.6 MB/s eta 0:00:01
   ---------------------------------------- 34.7/34.7 MB 3.4 MB/s eta 0:00:00
Installing collected packages: polars
Successfully installed polars-1.24.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import polars as pl
# Para no utilizar el pl accedemos direcamente al módulo
from polars import Config # Cambiar configuraciones globales
from polars import DataFrame

### Establecer el número máximo de caracteres que se van a mostrar

In [2]:
Config.set_fmt_str_lengths(50)

polars.config.Config

### Extraer el archivo

In [3]:
df_titanic = pl.read_csv('./data/Titanic/titanic.csv', separator=';')

In [4]:
df_titanic.head()

shape: (5, 11)
┌─────────────┬──────────┬───────┬───────────────────┬───┬───────────┬────────┬────────┬───────────┐
│ Id_Pasajero ┆ Survived ┆ Clase ┆ Nombre            ┆ … ┆ Tiquete   ┆ Tarifa ┆ Cabina ┆ Embarcado │
│ ---         ┆ ---      ┆ ---   ┆ ---               ┆   ┆ ---       ┆ ---    ┆ ---    ┆ ---       │
│ i64         ┆ i64      ┆ i64   ┆ str               ┆   ┆ str       ┆ f64    ┆ str    ┆ str       │
╞═════════════╪══════════╪═══════╪═══════════════════╪═══╪═══════════╪════════╪════════╪═══════════╡
│ 1           ┆ 0        ┆ 3     ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25   ┆ null   ┆ S         │
│             ┆          ┆       ┆ Harris            ┆   ┆           ┆        ┆        ┆           │
│ 2           ┆ 1        ┆ 1     ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.28  ┆ C85    ┆ C         │
│             ┆          ┆       ┆ John Bradley      ┆   ┆           ┆        ┆        ┆           │
│             ┆          ┆       ┆ (Florence Briggs  ┆   ┆           ┆        ┆        ┆           │
│             ┆          ┆       ┆ Thayer…           ┆   ┆           ┆        ┆        ┆           │
│ 3           ┆ 1        ┆ 3     ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.93   ┆ null   ┆ S         │
│             ┆          ┆       ┆ Laina             ┆   ┆ 3101282   ┆        ┆        ┆           │
│ 4           ┆ 1        ┆ 1     ┆ Futrelle, Mrs.    ┆ … ┆ 113803    ┆ 53.1   ┆ C123   ┆ S         │
│             ┆          ┆       ┆ Jacques Heath     ┆   ┆           ┆        ┆        ┆           │
│             ┆          ┆       ┆ (Lily May Peel)   ┆   ┆           ┆        ┆        ┆           │
│ 5           ┆ 0        ┆ 3     ┆ Allen, Mr.        ┆ … ┆ 373450    ┆ 8.05   ┆ null   ┆ S         │
│             ┆          ┆       ┆ William Henry     ┆   ┆           ┆        ┆        ┆           │
└─────────────┴──────────┴───────┴───────────────────┴───┴───────────┴────────┴────────┴───────────┘

### Renombrar el nombre de la columna

In [5]:
df_titanic = df_titanic.rename({'Id_Pasajero':'PasajeroID', 'Survived':'Sobrevivio'})

In [6]:
df_titanic.head()

shape: (5, 11)
┌────────────┬────────────┬───────┬──────────────────┬───┬───────────┬────────┬────────┬───────────┐
│ PasajeroID ┆ Sobrevivio ┆ Clase ┆ Nombre           ┆ … ┆ Tiquete   ┆ Tarifa ┆ Cabina ┆ Embarcado │
│ ---        ┆ ---        ┆ ---   ┆ ---              ┆   ┆ ---       ┆ ---    ┆ ---    ┆ ---       │
│ i64        ┆ i64        ┆ i64   ┆ str              ┆   ┆ str       ┆ f64    ┆ str    ┆ str       │
╞════════════╪════════════╪═══════╪══════════════════╪═══╪═══════════╪════════╪════════╪═══════════╡
│ 1          ┆ 0          ┆ 3     ┆ Braund, Mr. Owen ┆ … ┆ A/5 21171 ┆ 7.25   ┆ null   ┆ S         │
│            ┆            ┆       ┆ Harris           ┆   ┆           ┆        ┆        ┆           │
│ 2          ┆ 1          ┆ 1     ┆ Cumings, Mrs.    ┆ … ┆ PC 17599  ┆ 71.28  ┆ C85    ┆ C         │
│            ┆            ┆       ┆ John Bradley     ┆   ┆           ┆        ┆        ┆           │
│            ┆            ┆       ┆ (Florence Briggs ┆   ┆           ┆        ┆        ┆           │
│            ┆            ┆       ┆ Thayer…          ┆   ┆           ┆        ┆        ┆           │
│ 3          ┆ 1          ┆ 3     ┆ Heikkinen, Miss. ┆ … ┆ STON/O2.  ┆ 7.93   ┆ null   ┆ S         │
│            ┆            ┆       ┆ Laina            ┆   ┆ 3101282   ┆        ┆        ┆           │
│ 4          ┆ 1          ┆ 1     ┆ Futrelle, Mrs.   ┆ … ┆ 113803    ┆ 53.1   ┆ C123   ┆ S         │
│            ┆            ┆       ┆ Jacques Heath    ┆   ┆           ┆        ┆        ┆           │
│            ┆            ┆       ┆ (Lily May Peel)  ┆   ┆           ┆        ┆        ┆           │
│ 5          ┆ 0          ┆ 3     ┆ Allen, Mr.       ┆ … ┆ 373450    ┆ 8.05   ┆ null   ┆ S         │
│            ┆            ┆       ┆ William Henry    ┆   ┆           ┆        ┆        ┆           │
└────────────┴────────────┴───────┴──────────────────┴───┴───────────┴────────┴────────┴───────────┘

### Filtrar datos

In [7]:
# Filtrar los pasajeros de sexo Masculino
# Revisar la documentación https://docs.pola.rs/user-guide/expressions/strings/#check-for-the-existence-of-a-pattern
# Es como utilizar el where en sql

df_titanic = df_titanic.filter(
    # Traer la columa
    pl.col('Sexo').str.starts_with('Masculino')
)

In [8]:
df_titanic.head()

shape: (5, 11)
┌────────────┬────────────┬───────┬──────────────────┬───┬───────────┬────────┬────────┬───────────┐
│ PasajeroID ┆ Sobrevivio ┆ Clase ┆ Nombre           ┆ … ┆ Tiquete   ┆ Tarifa ┆ Cabina ┆ Embarcado │
│ ---        ┆ ---        ┆ ---   ┆ ---              ┆   ┆ ---       ┆ ---    ┆ ---    ┆ ---       │
│ i64        ┆ i64        ┆ i64   ┆ str              ┆   ┆ str       ┆ f64    ┆ str    ┆ str       │
╞════════════╪════════════╪═══════╪══════════════════╪═══╪═══════════╪════════╪════════╪═══════════╡
│ 1          ┆ 0          ┆ 3     ┆ Braund, Mr. Owen ┆ … ┆ A/5 21171 ┆ 7.25   ┆ null   ┆ S         │
│            ┆            ┆       ┆ Harris           ┆   ┆           ┆        ┆        ┆           │
│ 5          ┆ 0          ┆ 3     ┆ Allen, Mr.       ┆ … ┆ 373450    ┆ 8.05   ┆ null   ┆ S         │
│            ┆            ┆       ┆ William Henry    ┆   ┆           ┆        ┆        ┆           │
│ 6          ┆ 0          ┆ 3     ┆ Moran, Mr. James ┆ … ┆ 330877    ┆ 8.46   ┆ null   ┆ Q         │
│ 7          ┆ 0          ┆ 1     ┆ McCarthy, Mr.    ┆ … ┆ 17463     ┆ 51.86  ┆ E46    ┆ S         │
│            ┆            ┆       ┆ Timothy J        ┆   ┆           ┆        ┆        ┆           │
│ 8          ┆ 0          ┆ 3     ┆ Palsson, Master. ┆ … ┆ 349909    ┆ 21.08  ┆ null   ┆ S         │
│            ┆            ┆       ┆ Gosta Leonard    ┆   ┆           ┆        ┆        ┆           │
└────────────┴────────────┴───────┴──────────────────┴───┴───────────┴────────┴────────┴───────────┘

### Seleccionando columnas

In [9]:
df_titanic.select(
    # Dos formas de selecionar una columna
    pl.col('PasajeroID'),
    'Sobrevivio',
    pl.col('Nombre'),
    pl.col('Sexo'),
    pl.col('Edad')
)

shape: (577, 5)
┌────────────┬────────────┬────────────────────────────────┬───────────┬──────┐
│ PasajeroID ┆ Sobrevivio ┆ Nombre                         ┆ Sexo      ┆ Edad │
│ ---        ┆ ---        ┆ ---                            ┆ ---       ┆ ---  │
│ i64        ┆ i64        ┆ str                            ┆ str       ┆ f64  │
╞════════════╪════════════╪════════════════════════════════╪═══════════╪══════╡
│ 1          ┆ 0          ┆ Braund, Mr. Owen Harris        ┆ Masculino ┆ 22.0 │
│ 5          ┆ 0          ┆ Allen, Mr. William Henry       ┆ Masculino ┆ 35.0 │
│ 6          ┆ 0          ┆ Moran, Mr. James               ┆ Masculino ┆ null │
│ 7          ┆ 0          ┆ McCarthy, Mr. Timothy J        ┆ Masculino ┆ 54.0 │
│ 8          ┆ 0          ┆ Palsson, Master. Gosta Leonard ┆ Masculino ┆ 2.0  │
│ …          ┆ …          ┆ …                              ┆ …         ┆ …    │
│ 884        ┆ 0          ┆ Banfield, Mr. Frederick James  ┆ Masculino ┆ 28.0 │
│ 885        ┆ 0          ┆ Sutehall, Mr. Henry Jr         ┆ Masculino ┆ 25.0 │
│ 887        ┆ 0          ┆ Montvila, Rev. Juozas          ┆ Masculino ┆ 27.0 │
│ 890        ┆ 1          ┆ Behr, Mr. Karl Howell          ┆ Masculino ┆ 26.0 │
│ 891        ┆ 0          ┆ Dooley, Mr. Patrick            ┆ Masculino ┆ 32.0 │
└────────────┴────────────┴────────────────────────────────┴───────────┴──────┘

### Cambiar el tipo de datos de texto a fecha

In [10]:
df_fecha = pl.DataFrame(
    {
        "id": [1, 2, 3],
        "fecha": ["2024-03-01", "2024-03-02", "2024-03-04"]
    }
)

In [11]:
df_fecha.head()

shape: (3, 2)
┌─────┬────────────┐
│ id  ┆ fecha      │
│ --- ┆ ---        │
│ i64 ┆ str        │
╞═════╪════════════╡
│ 1   ┆ 2024-03-01 │
│ 2   ┆ 2024-03-02 │
│ 3   ┆ 2024-03-04 │
└─────┴────────────┘

In [12]:
df_fecha.select(
    pl.col('id'),
    pl.col("fecha").cast(pl.Date)
)

shape: (3, 2)
┌─────┬────────────┐
│ id  ┆ fecha      │
│ --- ┆ ---        │
│ i64 ┆ date       │
╞═════╪════════════╡
│ 1   ┆ 2024-03-01 │
│ 2   ┆ 2024-03-02 │
│ 3   ┆ 2024-03-04 │
└─────┴────────────┘

### Eliminar duplicados

In [28]:
# Ordenar las columnas
df_titanic.sort(
    [pl.col('Edad')]
).unique(pl.col('PasajeroID'), keep='last', maintain_order= True) # Eliminar los duplicados y que columnas quieres que sea unico

shape: (577, 11)
┌────────────┬────────────┬───────┬───────────────────┬───┬──────────┬────────┬────────┬───────────┐
│ PasajeroID ┆ Sobrevivio ┆ Clase ┆ Nombre            ┆ … ┆ Tiquete  ┆ Tarifa ┆ Cabina ┆ Embarcado │
│ ---        ┆ ---        ┆ ---   ┆ ---               ┆   ┆ ---      ┆ ---    ┆ ---    ┆ ---       │
│ i64        ┆ i64        ┆ i64   ┆ str               ┆   ┆ str      ┆ f64    ┆ str    ┆ str       │
╞════════════╪════════════╪═══════╪═══════════════════╪═══╪══════════╪════════╪════════╪═══════════╡
│ 6          ┆ 0          ┆ 3     ┆ Moran, Mr. James  ┆ … ┆ 330877   ┆ 8.46   ┆ null   ┆ Q         │
│ 18         ┆ 1          ┆ 2     ┆ Williams, Mr.     ┆ … ┆ 244373   ┆ 13.0   ┆ null   ┆ S         │
│            ┆            ┆       ┆ Charles Eugene    ┆   ┆          ┆        ┆        ┆           │
│ 27         ┆ 0          ┆ 3     ┆ Emir, Mr. Farred  ┆ … ┆ 2631     ┆ 7.23   ┆ null   ┆ C         │
│            ┆            ┆       ┆ Chehab            ┆   ┆          ┆        ┆        ┆           │
│ 30         ┆ 0          ┆ 3     ┆ Todoroff, Mr.     ┆ … ┆ 349216   ┆ 7.9    ┆ null   ┆ S         │
│            ┆            ┆       ┆ Lalio             ┆   ┆          ┆        ┆        ┆           │
│ 37         ┆ 1          ┆ 3     ┆ Mamee, Mr. Hanna  ┆ … ┆ 2677     ┆ 7.23   ┆ null   ┆ C         │
│ …          ┆ …          ┆ …     ┆ …                 ┆ … ┆ …        ┆ …      ┆ …      ┆ …         │
│ 117        ┆ 0          ┆ 3     ┆ Connors, Mr.      ┆ … ┆ 370369   ┆ 7.75   ┆ null   ┆ Q         │
│            ┆            ┆       ┆ Patrick           ┆   ┆          ┆        ┆        ┆           │
│ 97         ┆ 0          ┆ 1     ┆ Goldschmidt, Mr.  ┆ … ┆ PC 17754 ┆ 34.65  ┆ A5     ┆ C         │
│            ┆            ┆       ┆ George B          ┆   ┆          ┆        ┆        ┆           │
│ 494        ┆ 0          ┆ 1     ┆ Artagaveytia, Mr. ┆ … ┆ PC 17609 ┆ 49.5   ┆ null   ┆ C         │
│            ┆            ┆       ┆ Ramon             ┆   ┆          ┆        ┆        ┆           │
│ 852        ┆ 0          ┆ 3     ┆ Svensson, Mr.     ┆ … ┆ 347060   ┆ 7.78   ┆ null   ┆ S         │
│            ┆            ┆       ┆ Johan             ┆   ┆          ┆        ┆        ┆           │
│ 631        ┆ 1          ┆ 1     ┆ Barkworth, Mr.    ┆ … ┆ 27042    ┆ 30.0   ┆ A23    ┆ S         │
│            ┆            ┆       ┆ Algernon Henry    ┆   ┆          ┆        ┆        ┆           │
│            ┆            ┆       ┆ Wilson            ┆   ┆          ┆        ┆        ┆           │
└────────────┴────────────┴───────┴───────────────────┴───┴──────────┴────────┴────────┴───────────┘

### Diviendo columnas por delimitador

In [29]:
df_ubicacion = pl.DataFrame(
    {
        "ubicacion": ["CHORRILLOS-1002", "SURCO-3001", "LIMA-2020"]
    }
)

In [31]:
# renombrar la columna
df_ubicacion.with_columns(
    pl.col('ubicacion')
    .str.split_exact('-', 1) #se va a separar el primero delimitador que tenga -
    .struct.rename_fields(["Agencia", "AgenciaID"])
    .alias('nueva columna')
).unnest('nueva columna') #separa los campos

shape: (3, 3)
┌─────────────────┬────────────┬───────────┐
│ ubicacion       ┆ Agencia    ┆ AgenciaID │
│ ---             ┆ ---        ┆ ---       │
│ str             ┆ str        ┆ str       │
╞═════════════════╪════════════╪═══════════╡
│ CHORRILLOS-1002 ┆ CHORRILLOS ┆ 1002      │
│ SURCO-3001      ┆ SURCO      ┆ 3001      │
│ LIMA-2020       ┆ LIMA       ┆ 2020      │
└─────────────────┴────────────┴───────────┘

## Cosas avanzadas con polars

In [34]:
%pip install fastexcel

Collecting fastexcel
  Downloading fastexcel-0.13.0-cp39-abi3-win_amd64.whl.metadata (3.5 kB)
Collecting pyarrow>=8.0.0 (from fastexcel)
  Downloading pyarrow-19.0.1-cp312-cp312-win_amd64.whl.metadata (3.4 kB)
Downloading fastexcel-0.13.0-cp39-abi3-win_amd64.whl (1.1 MB)
   ---------------------------------------- 0.0/1.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.1 MB ? eta -:--:--
   --------- ------------------------------ 0.3/1.1 MB ? eta -:--:--
   --------- ------------------------------ 0.3/1.1 MB ? eta -:--:--
   ------------------- -------------------- 0.5/1.1 MB 541.6 kB/s eta 0:00:01
   ------------------- -------------------- 0.5/1.1 MB 541.6 kB/s eta 0:00:01
   ----------------------------- ---------- 0.8/1.1 MB 541.6 kB/s eta 0:00:01
   ---------------------------------------  1.0/1.1 MB 621.7 kB/s eta 0:00:01
   ---------------------------------------- 1.1/1.1 MB 612.3 kB/s eta 0:00:00
Downloading pyarrow-19.0.1-cp312-cp312-win_amd64.whl (25.3 MB)
   ---------------------------------------- 0.0/25.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/25.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/25.3 MB ? eta -:--:--
   ---------------------------------------- 0.3/25.3 MB ? eta -:--:--
    --------------------------------------- 0.5/25.3 MB 882.6 kB/s eta 0:00:29
    --------------------------------------- 0.5/25.3 MB 882.6 kB/s eta 0:00:29
   - -------------------------------------- 0.8/25.3 MB 729.2 kB/s eta 0:00:34
   - -------------------------------------- 0.8/25.3 MB 729.2 kB/s eta 0:00:34
   - -------------------------------------- 1.0/25.3 MB 662.0 kB/s eta 0:00:37
   --- ------------------------------------ 2.1/25.3 MB 1.2 MB/s eta 0:00:19
   ---- ----------------------------------- 2.6/25.3 MB 1.4 MB/s eta 0:00:16
   ---- ----------------------------------- 2.9/25.3 MB 1.5 MB/s eta 0:00:16
   ----- ---------------------------------- 3.4/25.3 MB 1.6 MB/s eta 0:00:14
   ------ --------------------------------- 3.9/25.3 MB 1.6 MB/s eta 0:00:14
   ------- -------------------------------- 4.5/25.3 MB 1.7 MB/s eta 0:00:13
   ------- -------------------------------- 5.0/25.3 MB 1.8 MB/s eta 0:00:12
   --------- ------------------------------ 5.8/25.3 MB 1.9 MB/s eta 0:00:11
   --------- ------------------------------ 6.3/25.3 MB 1.9 MB/s eta 0:00:10
   --------- ------------------------------ 6.3/25.3 MB 1.9 MB/s eta 0:00:10
   ---------- ----------------------------- 6.8/25.3 MB 1.8 MB/s eta 0:00:10
   ----------- ---------------------------- 7.3/25.3 MB 1.9 MB/s eta 0:00:10
   ------------ --------------------------- 8.1/25.3 MB 1.9 MB/s eta 0:00:09
   ------------- -------------------------- 8.7/25.3 MB 2.0 MB/s eta 0:00:09
   -------------- ------------------------- 9.2/25.3 MB 2.0 MB/s eta 0:00:08
   --------------- ------------------------ 9.7/25.3 MB 2.1 MB/s eta 0:00:08
   ---------------- ----------------------- 10.5/25.3 MB 2.1 MB/s eta 0:00:07
   ----------------- ---------------------- 11.0/25.3 MB 2.1 MB/s eta 0:00:07
   ------------------ --------------------- 11.8/25.3 MB 2.2 MB/s eta 0:00:07
   ------------------- -------------------- 12.3/25.3 MB 2.2 MB/s eta 0:00:06
   -------------------- ------------------- 12.8/25.3 MB 2.2 MB/s eta 0:00:06
   --------------------- ------------------ 13.4/25.3 MB 2.2 MB/s eta 0:00:06
   ---------------------- ----------------- 14.2/25.3 MB 2.3 MB/s eta 0:00:05
   ----------------------- ---------------- 14.7/25.3 MB 2.3 MB/s eta 0:00:05
   ------------------------ --------------- 15.2/25.3 MB 2.3 MB/s eta 0:00:05
   ------------------------- -------------- 16.0/25.3 MB 2.3 MB/s eta 0:00:04
   -------------------------- ------------- 16.5/25.3 MB 2.3 MB/s eta 0:00:04
   -------------------------- ------------- 17.0/25.3 MB 2.3 MB/s eta 0:00:04
   ---------------------------- ----------- 17.8/25.3 MB 2.4 MB/s eta 0:00:04
   ----------------------------- ---------- 18.4/25.3 MB 2.4 MB/s eta 0:00:03
   ------------------------------ --------- 19.1/25.3 MB 2.4 MB/s eta 0:00:03
   ------------------------------ --------- 19.1/25.3 MB 2.4 MB/s eta 0:00:03
   ------------------------------ --------- 19.4/25.3 MB 2.3 MB/s eta 0:00:03
   ------------------------------- -------- 19.7/25.3 MB 2.3 MB/s eta 0:00:03
   ------------------------------- -------- 20.2/25.3 MB 2.3 MB/s eta 0:00:03
   --------------------------------- ------ 21.0/25.3 MB 2.3 MB/s eta 0:00:02
   ---------------------------------- ----- 21.5/25.3 MB 2.3 MB/s eta 0:00:02
   ---------------------------------- ----- 22.0/25.3 MB 2.3 MB/s eta 0:00:02
   ----------------------------------- ---- 22.5/25.3 MB 2.3 MB/s eta 0:00:02
   ------------------------------------ --- 23.1/25.3 MB 2.3 MB/s eta 0:00:01
   ------------------------------------- -- 23.6/25.3 MB 2.3 MB/s eta 0:00:01
   -------------------------------------- - 24.4/25.3 MB 2.4 MB/s eta 0:00:01
   ---------------------------------------  25.2/25.3 MB 2.4 MB/s eta 0:00:01
   ---------------------------------------  25.2/25.3 MB 2.4 MB/s eta 0:00:01
   ---------------------------------------- 25.3/25.3 MB 2.3 MB/s eta 0:00:00
Installing collected packages: pyarrow, fastexcel
Successfully installed fastexcel-0.13.0 pyarrow-19.0.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [67]:
Titanic = (
    # lo transforma todo a csv para que sea más facil de leer
    pl.read_excel('./data/Titanic/titanic.xlsx', sheet_name="Pasajeros_1", infer_schema_length=0)
    .select(
        pl.col("Id_Pasajero").cast(pl.Int64),
        pl.col("Survived").cast(pl.Int64),
        pl.col("Clase").cast(pl.Int64),
        pl.col("Nombre").cast(pl.String),
        pl.col("Sexo").cast(pl.String),
        pl.col("Edad").cast(pl.Float64).fill_null(12.0).replace(float("nan"), 12.0),
        pl.col("Cabina").cast(pl.String).fill_null('Otros').str.to_uppercase()
    )
)
# str.replace_many solo funciona en tipo de datos string

In [68]:
Titanic.head(30)

shape: (30, 7)
┌─────────────┬──────────┬───────┬────────────────────────────────┬───────────┬──────┬─────────────┐
│ Id_Pasajero ┆ Survived ┆ Clase ┆ Nombre                         ┆ Sexo      ┆ Edad ┆ Cabina      │
│ ---         ┆ ---      ┆ ---   ┆ ---                            ┆ ---       ┆ ---  ┆ ---         │
│ i64         ┆ i64      ┆ i64   ┆ str                            ┆ str       ┆ f64  ┆ str         │
╞═════════════╪══════════╪═══════╪════════════════════════════════╪═══════════╪══════╪═════════════╡
│ 1           ┆ 0        ┆ 3     ┆ Braund, Mr. Owen Harris        ┆ Masculino ┆ 22.0 ┆ OTROS       │
│ 2           ┆ 1        ┆ 1     ┆ Cumings, Mrs. John Bradley     ┆ Femenino  ┆ 38.0 ┆ C85         │
│             ┆          ┆       ┆ (Florence Briggs Thayer…       ┆           ┆      ┆             │
│ 3           ┆ 1        ┆ 3     ┆ Heikkinen, Miss. Laina         ┆ Femenino  ┆ 26.0 ┆ OTROS       │
│ 4           ┆ 1        ┆ 1     ┆ Futrelle, Mrs. Jacques Heath   ┆ Femenino  ┆ 35.0 ┆ C123        │
│             ┆          ┆       ┆ (Lily May Peel)                ┆           ┆      ┆             │
│ 5           ┆ 0        ┆ 3     ┆ Allen, Mr. William Henry       ┆ Masculino ┆ 35.0 ┆ OTROS       │
│ …           ┆ …        ┆ …     ┆ …                              ┆ …         ┆ …    ┆ …           │
│ 26          ┆ 1        ┆ 3     ┆ Asplund, Mrs. Carl Oscar       ┆ Femenino  ┆ 38.0 ┆ OTROS       │
│             ┆          ┆       ┆ (Selma Augusta Emilia Joh…     ┆           ┆      ┆             │
│ 27          ┆ 0        ┆ 3     ┆ Emir, Mr. Farred Chehab        ┆ Masculino ┆ 12.0 ┆ OTROS       │
│ 28          ┆ 0        ┆ 1     ┆ Fortune, Mr. Charles Alexander ┆ Masculino ┆ 19.0 ┆ C23 C25 C27 │
│ 29          ┆ 1        ┆ 3     ┆ O'Dwyer, Miss. Ellen "Nellie"  ┆ Femenino  ┆ 12.0 ┆ OTROS       │
│ 30          ┆ 0        ┆ 3     ┆ Todoroff, Mr. Lalio            ┆ Masculino ┆ 12.0 ┆ OTROS       │
└─────────────┴──────────┴───────┴────────────────────────────────┴───────────┴──────┴─────────────┘

### Exportar los datos

In [70]:
%pip install xlsxwriter

Collecting xlsxwriter
  Downloading XlsxWriter-3.2.2-py3-none-any.whl.metadata (2.8 kB)
Downloading XlsxWriter-3.2.2-py3-none-any.whl (165 kB)
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.2.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [71]:
Titanic.write_excel(
    workbook='./data/Export/titanic_final.xlsx',
    worksheet='Pasajeros',
    table_style='Table Style Medium 2',
#     dtype_formats={pl.Date: "mm/dd/yyyy"}
	float_precision=2, # Precision de decimales cuanto va a tener
    autofit=True # Para el encabezado del excel
)